@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');
@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
html {
    font-family: 'Open Sans', sans-serif;
}


code {
    font-family: 'Inconsolata', sans-serif;
}
pre {
    font-family: 'Inconsolata', monospace;
}

body {
    margin-left: 2em;
}

.alert {
    background: hsl(205, 21%, 89%);
    border-width: 0px 2px 0px 10px;
    border-style: solid;
    padding-left: 0.5em;
    overflow: auto;
}
.code { border-color: hsl(196, 100%, 33%); }
.example    { border-color: hsl(175,98%,23%); }
.note       { border-color: hsl(204,30%,51%); }
.warning    { border-color: hsl(29,100%,50%); }
.danger     { border-color: hsl(351,100%,45%); }
.question   { border-color: hsl(180, 100%, 40%); }

section {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

dt {
    float: left ;
    clear: left ;
    text-align: right;
    font-weight: bold;
    width:  8em;
    margin-right: 1em;
}
dt::after { content: ": "; }
