<table>
    <colgroup>
        <col span="1">
        <col span="2" style="background-color:red">
        <col span="2" style="background-color:yellow">
        <col span="1" style="background-color:green">
    </colgroup>
<thead>
    <tr><td>Week</td><td>Lecture A</td><td>Lecturer</td>
                     <td>Lecture B</td><td>Lecturer</td>
                     <td>Seminar</td></tr>
</thead>
<tbody>
<tr><td></td><td>{% include lectureis.html index=0 %}</td></tr>

{% include week.html wk=1 a=1 b=2 s=1 %}
{% include week.html wk=2 a=3 b=4 s=2 %}
{% include week.html wk=3 a=5 b=6 s=3 %}
{% include week.html wk=4 a=7 b=8 s=4 %}

</tbody>
</table>
