
$Air-Force-blue:	hsl(204,30%,51%);
$Amber:	hsl(44,100%,50%);
$Amber-SAE-ECE:	hsl(29,100%,50%);
$Brass:	hsl(52,46%,48%);
$Bronze:	hsl(29,60%,50%);
$British-racing-green:	hsl(153,100%,12%);
$Cadet-blue:	hsl(181,25%,50%);
$Carmine:	hsl(350,100%,29%);
$Charcoal:		rgb(54, 69, 79);
$Cinnamon:	hsl(25,74%,47%);
$Cobalt-blue:	hsl(215,100%,33%);
$Copper:	hsl(28,56%,46%);
$Electric-blue:	hsl(182,100%,74%);
$Forest-green:	hsl(148,97%,13%);
$Gunmetal:	hsl(200,15%,19%);
$Hunter-green:	hsl(128,27%,28%);
$Jade:	hsl(158,100%,32%);
$Lapis-lazuli:	hsl(210,60%,38%);
$Midnight-blue:	hsl(240,63%,26%);
$Pine-green:	hsl(175,98%,23%);
$Rifle-green:	hsl(84,15%,25%);
$Ruby:	hsl(337,85%,47%);
$Sapphire:	hsl(216,85%,39%);
$Sapphire-blue:	hsl(202,100%,32%);
$Space-Cadet:	hsl(226,47%,21%);
$Titanium-yellow:	hsl(57,100%,46%);
$Timberwolf:	hsl(33,11%,84%);
$Manila:	hsl(49,78%,72%);
$Cadmium-red:	hsl(351,100%,45%);
$Whitesmoke:    hsl(0, 0%, 96%);

$Cadet-gray:   rgb(145,163,176);
$Cerulean: rgb(0, 123, 167);
