<html>
<head>
    <title>{{ site.title }}</title>
    <link href="/css/layout.css" rel="stylesheet" >
    <link href="/css/menu.css" rel="stylesheet" >
</head>
<body>
    <header>
        <nav>
        <ul>&#x2630;
        {% for item in site.data.navigation.menu %}
        <li><a href="{{ item.url }}">{{ item.title }}</a>
        {% if item.submenu[0] %}<ul>
                {% for subitem in item.submenu %} <li><a href="{{ subitem.url }}">{{ subitem.title }}</a></li>
                {% endfor %}</ul>{% endif %}
        </li>        {% endfor %}
        </ul>
    </nav>
        <H1>{{page.title}}</h1>
    </header>

    {{content}}
<hr />
<address>
    © 2017 &nbsp; Dr Alun Moon <br />
    <a href="mailto:alun.moon@northumbria.ac.uk?subject=feedback%20code%20wrangling">
    alun.moon@northumbria.ac.uk
    </a>
</address>
</body>
</html>
