<html>
<head>
    <title>{{page.title}}</title>
    <link href="css/layout.css" rel="stylesheet" >
</head>
<body>
    <header>
        <nav>
        <ul><li>&#x2630;</li>
        {% for item in site.data.navigation.menu %}
        {% if item.url %}
        <li><a href="{{ item.url }}">{{ item.title }}</a></li>
        {% else %}
        <li>{{ item.title }}<ul>
          {% for subitem in item.submenu %}
          <li><a href="{{ subitem.url }}">{{ subitem.title }}</a></li>
          {% endfor %}
        </li></ul>
        {% endif %}
        {% endfor %}
        </ul>
    </nav>
        <H1>{{page.title}}</h1>
    </header>

    {{content}}
<hr />
<address>
    Dr Alun Moon <br />
    <a href="mailto:alun.moon@northumbria.ac.uk?subject=feedback%20code%20wrangling">
    alun.moon@northumbria.ac.uk
    </a>
</address>
</body>
</html>
